body {
  margin: 0;
  padding: 0;
  font-weight: 600;
  line-height: 1.5;
  font-size: 18px;
  letter-spacing: 0.1em;
  background: linear-gradient(
    to right,
    rgba(165, 42, 42, 1),
    rgba(0, 133, 255, 1)
  );
  color: var(--dark);
  font-family: "arial", cursive;
}
:root {
  --primary: #8c54ff;
  --secondary: #f3a847;
  --tertiary: #b12704;
  --light: #fafafa;
  --dark: #000000;
  --darker: #111111;
  --error: rgb(228, 46, 1);
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
  --spacing-five: calc(2.5rem);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navActive {
  color: var(--secondary);
}
.flex-row {
  display: flex;
  flex-wrap: wrap;
}
.mx-1 {
  margin-right: var(--spacing-one);
  margin-left: var(--spacing-one);
}

.mx-2 {
  margin-right: var(--spacing-two);
  margin-left: var(--spacing-two);
}
.hbackground {
  color: #e9ecef;
  text-decoration: none;
  background-color: transparent;
  border-radius: 1rem;
  padding: 0px 7px 0px 7px;
  border-color: transparent;
}
li {
  list-style: none;
}
.center {
  display: flex;
  justify-content: center;
  align-items: baseline;
}
.pd {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
.mar {
  margin: 60px 60px 60px 60px;
}
.header {
  color: "black";
}
.border {
  border-radius: "3rem";
}
.label {
  color: white;
  padding-top: 20px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}
.mar2 {
  margin-left: 10px;
  margin-right: 10px;
}
.mar3 {
  margin-left: 45%;
  margin-right: 45%;
  margin-bottom: 70px;
}
.footer {
  position: fixed;
  padding: 10px 10px 0px 10px;
  bottom: 20px;
  width: 100%;
  height: 40px;
}
